

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}


.page-gradient {
  background: 
  radial-gradient(circle at 10% 20%, rgba(188, 209, 219, 0.157) 300px, rgba(193, 219, 216, 0.322) 540px), 
  radial-gradient(circle at 10% 10%, rgba(179, 199, 218, 0.52), transparent 340px), 
  radial-gradient(circle at 90% 90%, rgba(174, 166, 175, 0.287) 100px, transparent 420px), 
  radial-gradient(circle at 15% 80%, rgba(158, 173, 69, 0.2) 300px, transparent 890px),
  radial-gradient(circle at 90% 90%, rgba(221, 220, 240, 0.1) 270px, rgba(192, 241, 237, 0.198) 270px),  
  radial-gradient(circle at 5% 80%, rgba(166, 207, 150, 0.4) 20px, transparent 470px);

  background-repeat: no-repeat;
}