
.item-detail-container {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-detail-card {
    display: flex;
    flex-direction: column;
    max-width: 70%; 
    width: 70%; 
    margin: 0 auto; 
    border: none; 
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    background-color: #fff;
}

.item-detail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.item-detail-image {
    max-width: 20%;
    max-height: 20%;
    object-fit: contain;
}

.item-detail-body {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 15px;
}

.item-detail-title {
    font-size: 1.5rem;
}

.item-detail-text {
    font-size: 1rem;
}

.item-detail-buttons {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: center;
}

@media (max-width: 768px) {
    .item-detail-card {
        max-width: 70%; /* Ocupa el 70% del ancho en dispositivos móviles */
    }
}
